.contact-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 60px;
    margin: 30px 0;
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: rgba(29,29,36,.75);
}

.info input {
    display: block;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin-bottom: 20px;
    outline: none;
    color: #1f1f25;
    font-size: 15px;
    letter-spacing: .1px;
}

.info-btn {
    border: 2px solid #f9004d;
    background: #f9004d;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 40px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
}